<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analytics">
      <ion-icon name="analytics"></ion-icon>
      <ion-label>Analytics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges">
      <ion-icon name="star"></ion-icon>
      <ion-label>Challenges</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tips">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tips</ion-label>
    </ion-tab-button>

  </ion-tab-bar>


</ion-tabs>
