<ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-button slot='start' [routerLink]="['/tabs/challenges']">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
          </ion-buttons>
          <div>
            <img height="50 px" class="align-logo-center" src="./assets/images/Logo.png">
          </div>
            <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="challengeDetail">
    <div class="content">
        <div>
            {{challengeDetail.description}}
        </div>
        <h3>Participants</h3>
        <div class="list-container">
            <ion-list class="participant-list">
                <ion-item>
                    <ion-avatar slot="start">
                        <img src="https://randomuser.me/api/portraits/men/3.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{me.name}}</h2>
                    </ion-label>
                </ion-item>

                <ion-item *ngFor="let participant of participants">
                    <ion-avatar slot="start">
                        <img src="https://randomuser.me/api/portraits/women/{{participant.id}}.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{participant.name}}</h2>
                    </ion-label>
                </ion-item>
                <ion-item *ngFor="let participant of participantGroup">
                    <ion-avatar slot="start">
                        <img src="https://picsum.photos/id/{{participant.id}}/60/60.jpg">
                    </ion-avatar>
                    <ion-label>
                        <h2>{{participant.name}}</h2>
                    </ion-label>

                </ion-item>
            </ion-list>

            <ion-button expand="full" (click)="openModal()">Add Participants</ion-button>

        </div>
    </div>

    <ion-button class="bottom" color="success" size="large" expand="full" (click)="saveChallenge()"  routerLink="/tabs/home" routerDirection="root" >Start Challange</ion-button>

</ion-content>

