.list-container{
  padding: 0.5em;
  box-shadow: inset 0px 0px 2px 2px #f3f3f3;
  height: 50%;
}
.content {
  margin: 0.5em;

}
.bottom{
    position: fixed;
    left: 0;
    bottom: 1em;
    right: 0;

}
.participant-list{
  height: 12em;
  overflow: scroll;
}
