<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Level Up!</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-buttons>
      <ion-button color="tertiary"  [routerLink]="['/tabs/home']">
        <ion-icon slot="icon-only" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>BREAKFAST</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary" routerLink='/tabs/foodsearch/0'>
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-item>
    <ion-item *ngFor="let item of foodItems0">
    <ion-label>{{item.name}}</ion-label>
  </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>LUNCH</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary" routerLink="/tabs/foodsearch/1">
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let item of foodItems1">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>DINNER</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary" routerLink='/tabs/foodsearch/2'>
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let item of foodItems2">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>SNACKS</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary" routerLink="/tabs/foodsearch/3">
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
    <ion-item *ngFor="let item of foodItems3">
      <ion-label>{{item.name}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
