<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Level Up!</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-buttons>
      <ion-button color="tertiary"  [routerLink]="['/tabs/home']">
        <ion-icon slot="icon-only" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>BREAKFAST</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary">
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>LUNCH</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary">
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>DINNER</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary">
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-card-subtitle>SNACKS</ion-card-subtitle>
    </ion-item>
    <ion-item>
      <ion-label>Add food</ion-label>
      <ion-buttons>
        <ion-button color="tertiary">
          <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>


  <ion-input type="text" [(ngModel)]="fooditem">

  </ion-input>
  <ion-button (click)="getAllFood()">Search</ion-button>

</ion-content>
