<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button slot='start'>
        <ion-icon name="chevron-back-sharp" (click)="closeModal()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <img height="50 px" class="align-logo-center" src="./assets/images/Logo.png">
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider style="min-height:55px">
    <ion-title style="overflow: hidden">{{fooddetails.name}}</ion-title>
    <ion-button style="position: fixed; right: 2%" color="tertiary" (click)="addFoodItem(fooddetails)">Add</ion-button>
  </ion-item-divider>
  <div *ngIf="fooddetails">
    <ion-item>
      <ion-label>Serving size: </ion-label>
      <ion-note slot="end">{{fooddetails.servingSize}} g</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Number of servings: </ion-label>
      <ion-note slot="end">1</ion-note>
    </ion-item>
      <ion-item>
        <ion-label>Calories: </ion-label>
        <ion-note slot="end">{{fooddetails.calories}} g</ion-note>
      </ion-item>
    <ion-item>
      <ion-label>Carbs: </ion-label>
      <ion-note slot="end">{{fooddetails.carbs}} g</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Sugar:</ion-label>
      <ion-note slot="end">{{fooddetails.sugar}} g</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Fat:</ion-label>
      <ion-note slot="end">{{fooddetails.fat}} g</ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Protein: </ion-label>
      <ion-note slot="end">{{fooddetails.protein}} g</ion-note>
    </ion-item>
  </div>
</ion-content>







