<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div>
      <img height="50 px" class="align-logo-center" src="./assets/images/Logo.png">
    </div>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="bar bar-subheader">

    <div class="button-bar">
      <ion-button class="button filter-button" id="tipFilter_0" color="danger" (click)="removeAddFilter(0)"><ion-icon class="filter-icon" name="pulse-outline"></ion-icon></ion-button>
      <ion-button class="button filter-button" id="tipFilter_1" color="success" (click)="removeAddFilter(1)"><ion-icon class="filter-icon" name="leaf-outline"></ion-icon></ion-button>
      <ion-button class="button filter-button" id="tipFilter_2" color="warning" (click)="removeAddFilter(2)"><ion-icon class="filter-icon" name="server-outline"></ion-icon></ion-button>
      <ion-button class="button filter-button" id="tipFilter_3" color="tertiary" (click)="removeAddFilter(3)"><ion-icon class="filter-icon" name="ellipsis-horizontal-outline"></ion-icon></ion-button>
    </div>

  </div>
</ion-header>

<ion-content>

  <ion-card *ngFor="let tip of filteredTips">
    <div class="card-title">{{tip.title}}</div>
    <ion-card-content>
      <div class="tipImageContainer">
        <img src="{{tip.image}}"/>
      </div>
    <div class="card-description">{{tip.description}}</div>
    </ion-card-content>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small class="button socialbutton">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{tip.likes}} Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small class="button socialbutton">
          <ion-icon name="chatbubble-ellipses-outline"></ion-icon>
          <div>{{tip.comments}} Comments</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>

