.img-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.align-logo-center {
  align-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.col-elem-center {
  display: inline-block;
  text-align: center;
}

.col-elem-right {
  display: inline-block;
  text-align: right;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 220px;
  height: 140px;
  background-color: #5260ff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  left: 200%;
  top: 40%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
