<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Level Up!</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="margin-top: 2em">
    <ion-title class="ion-text-center">Hey Tom</ion-title>
  </div>

  <div *ngIf="happyBear">
  <div class="tooltip" >
    <ion-buttons>
      <span class="tooltiptext">{{happyBear.text}}</span>
      <ion-button text-right>
        <ion-icon color="tertiary" slot="icon-only" name="information-circle-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>

  <div style="margin: 1em">
    <ion-img class="img-align-center" src="{{happyBear.dataPath}}">
    </ion-img>
  </div>
  </div>

  <div style="margin: 1em">
    <icon-grid>
    <ion-row>
      <ion-col class="col-elem-center">
        <ion-buttons class="col-elem-center">
          <ion-button>
            <ion-icon color="danger" slot="icon-only" name="pulse-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-buttons class="col-elem-center">
          <ion-button>
            <ion-icon color="success" slot="icon-only" name="leaf-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-buttons class="col-elem-center">
        <ion-button>
          <ion-icon color="warning" slot="icon-only" name="server-sharp"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
      <ion-col class="col-elem-center">
        <ion-buttons class="col-elem-center">
          <ion-button>
            <ion-icon slot="icon-only" name="happy-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="col-elem-center">
        <ion-text>good</ion-text>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-text>average</ion-text>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-text>bad</ion-text>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-text>average</ion-text>
      </ion-col>
    </ion-row>
    </icon-grid>
  </div>

  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-buttons>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="star-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-card-header>
          Active Challenge
        </ion-card-header>
      </ion-col>
      <ion-col class="col-elem-right">
        <ion-buttons class="col-elem-right">
          <ion-button routerLink='/tabs/home-active-challenge'>
            <ion-icon color="tertiary"  slot="icon-only" name="chevron-forward-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-buttons>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="bicycle-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-card-header>
          Track exercise
        </ion-card-header>
      </ion-col>
      <ion-col class="col-elem-right">
        <ion-buttons class="col-elem-right">
          <ion-button color="tertiary" [routerLink]="['/home-trackexercise']">
            <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-buttons>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="nutrition-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-card-header>
          Log nutrition
        </ion-card-header>
      </ion-col>
      <ion-col class="col-elem-right">
        <ion-buttons class="col-elem-right">
          <ion-button color="tertiary" [routerLink]="['/home-trackfood']" routerDirection="forward">
            <ion-icon slot="icon-only" name="add-circle-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-buttons>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="leaf-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-card-header>
          Log sustainability
        </ion-card-header>
      </ion-col>
      <ion-col class="col-elem-right">
        <ion-buttons class="col-elem-right">
          <ion-button [routerLink]="['/home-tracksustainability']" routerDirection="forward">
            <ion-icon color="tertiary" slot="icon-only" name="add-circle-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-buttons>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="pulse-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-card-header>
          Resting heart rate
        </ion-card-header>
      </ion-col>
      <ion-col class="col-elem-right">
        <ion-buttons class="col-elem-right">
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="chevron-forward-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-card>
    <ion-row no-padding>
      <ion-col text-left>
        <ion-buttons>
          <ion-button>
            <ion-icon color="tertiary" slot="icon-only" name="moon-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="col-elem-center">
        <ion-card-header>
          Sleep analysis
        </ion-card-header>
      </ion-col>
      <ion-col class="col-elem-right">
        <ion-buttons class="col-elem-right">
          <ion-button>
            <ion-icon slot="icon-only" name="chevron-forward-sharp"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-card>


</ion-content>
