.img-align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.col-elem-center {
  display: inline-block;
  text-align: center;
}

.col-elem-right {
  display: inline-block;
  text-align: right;
}


