<ion-header>
    <ion-toolbar>
        <ion-title>New Challenges</ion-title>
    </ion-toolbar>

    <div class="bar bar-subheader">
        <div class="button-bar">
            <ion-button class="button filter-button" id="filter_0"  color="danger" (click)="removeAddFilter(0)"><ion-icon class="filter-icon" name="pulse-outline"></ion-icon></ion-button>
            <ion-button class="button filter-button" id="filter_1" color="success" (click)="removeAddFilter(1)"><ion-icon class="filter-icon" name="leaf-outline"></ion-icon>
            </ion-button>
            <ion-button class="button filter-button" id="filter_2" color="warning" (click)="removeAddFilter(2)"><ion-icon class="filter-icon" name="server-outline"></ion-icon></ion-button>
            <ion-button class="button filter-button" id="filter_3" color="tertiary" (click)="removeAddFilter(3)"><ion-icon class="filter-icon" name="ellipsis-horizontal-outline"></ion-icon></ion-button>
        </div>

    </div>
</ion-header>

<ion-content>
    <ion-card *ngFor="let challenge of filteredChallenges">
        <div class="card-title">{{challenge.title}}</div>
        <div class="tint">
            <img src="{{challenge.image}}"/>
        </div>
    </ion-card>
</ion-content>
