.filter-button{
  margin: 0.2em;
  height: 50px;
}
ion-toolbar{
  text-align: center;
}

.filter-icon{
  color: black;
}
.button-bar{
  margin: 0 1em 0 1em;
  display: flex;
  justify-content: space-between;
}

.deactivated-filter{
  opacity: 40%;
}
ion-card {
  position: relative;
  text-align: center;
  height: 8rem;
}


.tint:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(50, 50, 50, 0.6);
}

.card-title {
  text-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  margin-top: 0;
  font-size: 2rem;
  cursor: pointer;
  transform: skewY(-4deg) translateY(-50%) translateX(-50%);
  display: block;
  color: white;
  font-family: "Trade Gothic Condensed", Arial, sans-serif;
  max-width: 31.25rem;
  font-weight: 700;
  line-height: .9;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
